/public/hot
/public/storage
/storage/*.key
/public/.htaccess
/public/index.php
.env
.env.example
.gitignore_old.gitignore
.env.local
.local.env_local
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
